@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;700&display=swap");
@import "mixin";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Sora", sans-serif;
}

html,
body,
#root,
.App {
  background-color: $bg-light;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;

  .menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    padding: 0 30px;
    background-color: black;
    color: white;
    margin-bottom: 40px;

    nav {
      width: 15%;
      display: flex;
      justify-content: space-around;
    }

    a {
      color: white;
    }
  }
  .snipe {
    display: flex;
    width: 100%;

    aside {
      width: 30%;
      padding: 20px;

      .attributes {
        margin-top: 30px;

        .attribute:not(:last-child) {
          margin-bottom: 15px;
        }

        .attribute {
          -webkit-box-shadow: 19px 28px 47px -17px rgba($box-shadow, 0.75);
          -moz-box-shadow: 19px 28px 47px -17px rgba($box-shadow, 0.75);
          box-shadow: 19px 28px 47px -17px rgba($box-shadow, 0.75);
        }

        label {
          display: inline-block;
          width: 100%;
          height: 38px;
          margin-bottom: 15px;

          input {
            width: 100%;
            height: 100%;
            padding: 0 10px;
            font-size: 16px;
            background-color: white;
            border: none;

            &:focus {
              outline: 1px solid $outline-blue;
            }
          }

          div {
            color: rgba(black, 0.7);
            background-color: $bg-light;
            border-radius: 15px;
            margin-bottom: 5px;
          }
        }
      }
    }

    .nftList {
      width: 70%;
      margin-left: 40px;

      .nft:not(:last-child) {
        margin-right: 30px;
      }

      .nft {
        display: inline-flex;
        flex-direction: column;
        max-width: 22%;
        border-radius: 15px;
        padding: 20px;
        background-color: $bg-nft;
        margin-bottom: 40px;
        -webkit-box-shadow: 11px 18px 52px -30px rgba($box-shadow, 0.75);
        -moz-box-shadow: 11px 18px 52px -30px rgba($box-shadow, 0.75);
        box-shadow: 11px 18px 52px -30px rgba($box-shadow, 0.75);

        .content {
          margin-top: 7px;

          h4 {
            text-align: center;
            margin-bottom: 10px;
          }

          div {
            height: 25px;
            display: flex;
            align-items: center;

            svg {
              margin-right: 7px;
            }

            span {
              font-weight: 600;
              font-size: 14px;
            }
          }
        }

        img {
          max-width: 100%;
          border-radius: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
